
<!-- Spring Data Configuration To activate the Spring JPA repository support 
	with an XML configuration – we’ll use the jpa namespace and specify the package 
	where to DAO interfaces are located: 
	Starting with Spring Data 1.4, we can do the same with Java-only configuration:
	@EnableJpaRepositories(basePackages = "com.springdatajpa.dao")
	-->

<!-- <?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
      http://www.springframework.org/schema/data/jpa
      http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<jpa:repositories base-package="com.springdatajpa.dao" />

</beans> -->